<h1>Pets#index</h1>
<p>Find me in app/views/pets/index.html.erb</p>
<div class="container">
  <div class="row mt-3">
    
    <div class="col-md-9">
      <% @pets.each do |pet| %>
        <div class="image">
          <h2><%= pet.name %></h2>
          <%= link_to pet_path(pet.id) do %>
            <%= attachment_image_tag pet, :pet_image, size:"600x400" %>
          <% end %>  
        </div>
      <% end %>
    </div>    
    
  </div>
</div>