<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>
<div class="container">
  <div class="row">
    
    <div class="col-12">
      <% @posts.each do |posts| %>
      <div class="posts-top">
        <%= (attachment_image_tag posts, :image, size:"400x400") %>
      </div>
    </div>  
    <div class="col-12">
        <div class="posts-box">
          <%= (attachment_image_tag posts, :image, size:"400x400") %>
        </div>
    </div>
    <div class="col-12">
        <div class="posts-box">
          <%= (attachment_image_tag posts, :image, size:"400x400") %>
        </div>
      <% end %> 
    </div>
    