  <div class="full">
    <div class="img07"></div>
    <div class="img08"></div>
    <div class="img09"></div>
    <div class="img10"></div>
    <div class="img11"></div>
    <div class="img12"></div>
  </div>
      <p class="about-herder">ペットを飼っている人達の写真を共有したり<br>
        WEBアプリケーション上に保存しいつでも気軽に見られる様に<br>
        する為のサイトです<br>
        画像を投稿したりコメント書いたりをして動物仲間を増やしましょう<br>
        (※飼っているペットの写真を共有してくだい)<br>
      </p>  
