<div class="container">
  <div class="row">
    
    <div class="col-12"> 
    <div class="previews">
      <div class="slider">
        <%= image_tag asset_path('dog1.jpg') %>
        <%= image_tag asset_path('dog2.jpg') %>
        <%= image_tag asset_path('dog3.jpg') %>
      </div>
    </div>
    </div>
      
      <div class="adout-text">
        <p>ペットを飼っている人達の写真を共有したり</br>

             WEBアプリケーション上に保存しいつでも気軽に見られる様に</br>

            する為のECサイトです</br>

            気軽に画像を投稿やコメントをして動物仲間を増やしましょう</br>

            (※飼っているペットを共有してくだい)</br>
        </div>
      </div>  
    </div>  