<div class="index-background">

<div class="container">
  
  <div class="text-center">  
  　<% if flash[:notice] %>
  　   <p id="notice">
  　<%= flash[:notice] %>
  　   </p>
  　<% end %>  
  </div>　
  
  <div class="row mt-4">
    <% if user_signed_in? %>
    <div class="col-md-3">
      <%= render "users/info", user: @user , posts: @posts_favorite %> 
    <% end %>
    </div>  
    
    <div class="col-md-9">
      <%= render "posts/index", posts: @posts, user: @user1%>
    </div>  
    
  </div>
  <p class="page-top"><a href="#wrap">TOPに戻る</a></p>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
