<div>
 <h1>ペットとの思い出をいつまでも Days with pets </h1>
</div> 
<div class="top">
<div class="previews">
  <div class="slider">
      <%= image_tag asset_path'dog1.jpg' %>
      <%= image_tag asset_path'dog2.jpg' %>
      <%= image_tag asset_path'dog3.jpg' %>
  </div>
</div>
</div>

