  <div class="full">
    <div class="img01"></div>
    <div class="img02"></div>
    <div class="img03"></div>
    <div class="img04"></div>
    <div class="img05"></div>
    <div class="img06"></div>
  </div>
  
   <h1 class="top-herder">ペットとの思い出をいつまでも Days with pets </h1>
   <div class="top-rog">
     <%= link_to  "ログイン", new_user_session_path, class: "btn btn-success btn-lg rounded-pill  mr-5 fas fa-user p-3 shadow-lg" %>
     <%= link_to  "新規登録", new_user_registration_path, class: "btn btn-success btn-lg rounded-pill ml-5 fas fa-user-check p-3 shadow-lg" %>
   </div> 



