<div>
 <h1>ペットとの思い出をいつまでも Days with pets </h1>
</div> 
<div class="top">
<div class="previews">
  <div class="slider">
      <%= image_tag '柴犬' %>
      <%= image_tag 'チワワ' %>
      <%= image_tag 'ゴールデンレトリバー' %>
  </div>
</div>
</div>