/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "slick-theme"; 
@import "slick";


table th {/*table内のthに対して*/
  padding: 10px;/*上下左右10pxずつ*/
}
.slick-next {
    right: 10px !important;
    z-index: 100;
 }

.slick-prev {
    left: 10px !important;
  z-index: 100;
 }
 
 #notice{
     color:#008000;
     font-size:25px;
 }
 ul{
   list-style: none;  
 }
 
.page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
.page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.background1{
  background-image: image-url("background1.jpg");
}
 
 /*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #008000;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}
 
 //ログイン関係
 .rog-bg{
  background-image: image-url("background3.jpg");
  position: relative;
  width: 100%;
  min-height: 70vh;
  height: 100%;
  background-size: auto;
  background-color: rgb(255, 255, 255) !important;
}

 //ヘッダー
header{
  background:#FFFF99;
}
.nick_name{
    margin-top:15px;
}

.nav-item{
   padding-left:30px;
}
.herder-background{
  background-image: image-url("background1.jpg");
  position: relative;
  height: 100%;
  background-size: auto;
  background-color: rgb(255, 255, 255) !important;
}


//フッター
footer{
  background:#FFFF99;
  text-align:center;
}
h1{
  text-align: center;
  color:#008000;
}
.slides {
	overflow: hidden;
}
.footer-text
{
  color:#228B22;
  padding:10px;
}
.footer-background{
  background-image: image-url("background1.jpg");
  position: relative;
  height: 100%;
  background-size: auto;
  background-color: rgb(255, 255, 255) !important;
}
//aboutページ

.about-herder{ 
  position: absolute;
  display: block;
  width: 960px;
  padding: 20px;
  bottom: 200px;
  left: 200px;
  line-height: 20px;
  letter-spacing: 5px;
  line-height: 1.5;
  font-weight: bold;
  font-family: "ＭＳ ゴシック",sans-serif; 
  color: #fff;
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  text-align:center;
  text-shadow: 3px 3px 3px #008080; 
  }
 p.about-herder {line-height: 40px;}
//  top画面

.top-herder{
  position: absolute;
  display: block;
  width: 960px;
  padding: 10px;
  bottom: 500px;
  left: 200px;
  line-height: 1.5;
  font-weight: bold;
  font-family: "ＭＳ ゴシック",sans-serif; 
  color: #fff;
  font-size: 40px;
  line-height: 1.5;
  font-weight: bold;
  text-align:center;
  text-shadow: 3px 3px 3px #000;
 }
 
 .top-rog{
  position: absolute;
  display: block;
  width: 960px;
  padding: 10px;
  bottom: 400px;
  left: 200px;
 }
.full div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

}
.full div.img01 {
 background-image: image-url("cat1.jpg")
}
.full div.img02 {
 background-image: image-url("dog10.jpg")
}
.full div.img03 {
 background-image: image-url("cat5.jpg")
}
.full div.img04 {
 background-image: image-url("dog14.jpg")
}
.full div.img05 {
 background-image: image-url("cat3.jpg")
}
.full div.img06 {
 background-image: image-url("dog17.jpg")
}
.full div.img07 {
 background-image: image-url("dog13.jpg")
}
.full div.img08 {
 background-image: image-url("cat9.jpg")
}
.full div.img09 {
 background-image: image-url("dog16.jpg")
}
.full div.img10 {
 background-image: image-url("cat7.jpg")
}
.full div.img11 {
 background-image: image-url("dog15.jpg")
}
.full div.img12 {
 background-image: image-url("cat2.jpg")
}

 //一覧ページ
.paginate{
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center 
}
.index-background{
  background-image: image-url("background1.jpg");
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-size: auto;
  background-color: rgb(255, 255, 255) !important;
}

//kaminariの設定
.pagination {
  justify-content: center;
}
.pagination > span{
 padding: 12px 24px;
 margin: 0 10px;
}

//投稿詳細
.show-background{
  background-image: image-url("background1.jpg");
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-size: auto;
  background-color: rgb(255, 255, 255) !important;
}



//投稿画面
.new-background{
  background-image: image-url("background2.jpg");
  position: relative;
  width: 100%;
  min-height: 70vh;
  height: 100%;
  background-size: auto;
  background-color: rgb(255, 255, 255) !important;
}
.container{
  text-align: center;
  top: 100px;
}

//投稿編集画面

.post-edit-bg{
  background-image: image-url("background2.jpg");
  position: relative;
  width: 100%;
  min-height: 70vh;
  height: 100%;
  background-size: auto;
  background-color: rgb(255, 255, 255) !important;
}

//follo画面
.follo-bg{
  background-image: image-url("background2.jpg");
  position: relative;
  width: 100%;
  height: 100%;
  background-size: auto;
  background-color: rgb(255, 255, 255) !important;
}

//会員編集画面 会員詳細画面
.user-show-edit-bg{
  background-image: image-url("background3.jpg");
  position: relative;
  width: 100%;
  min-height: 70vh;
  height: 100%;
  background-size: auto;
  background-color: rgb(255, 255, 255) !important;
}

//ペット登録画面
.container-pet-new{
   text-align: center;
  top: 100px;
  padding-top: 100px;
}
.pet-new-bg{
  background-image: image-url("background3.jpg");
  position: relative;
  width: 100%;
  min-height: 70vh;
  height: 100%;
  background-size: auto;
  background-color: rgb(255, 255, 255) !important;
}
//ペット詳細
.pet-show-bg{
  background-image: image-url("background3.jpg");
  position: relative;
  width: 100%;
  min-height: 70vh;
  height: 100%;
  background-size: auto;
  background-color: rgb(255, 255, 255) !important;
}
.pet-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.pet-show-user{
    font-size:30px;
    color:#008000;
    font-family: fangsong;
}