// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page-top{
position: fixed;
right: 20px;
z-index: 1041;
width: 40px;
height: 40px;
background: #323232;
text-align: center;
border-radius: 5px 5px 0 0;
color: #e8e8e8;
}

h1{
  text-align: center;
  color:#008000;
}